<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <p>
    This site is created for you so you can use multible applications in one plase. 
    Here you can find the newest news, use calendar to mark your important events and 
    last but not a least you can mark important notes.
    Happy use!
  </p>
  </ion-content>
