<!--Tämä on koodattu koulun ohjeella-->


<ion-header>
  <ion-toolbar>
    <ion-searchbar #myInput (keypress)="search($event)">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of items?.articles">
    <ion-img src="{{article.urlToImage}}"></ion-img>
    <ion-card-content>
      <ion-card-title>{{article?.title}}</ion-card-title>
      <p>{{article?.description}}</p>
      <ion-button ion-button fill="outline" href="{{article.url}}" large>Read full article</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
