<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notebook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Home</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label>New Note</ion-label>
      <ion-input #myInput placeholder="Enter note" (keypress)="addNote($event)" type="text" required name="note" [(ngModel)]="newNote"></ion-input>
    </ion-item>
  </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let note of notes;index as i">
      <ion-item>
        {{note.name}}
      </ion-item>
      <ion-button color="danger" (click)="removeNote(i)">
        <ion-icon name="trash"></ion-icon>Delete
      </ion-button>
  </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Work</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label>New Note</ion-label>
      <ion-input #myInput placeholder="Enter note" (keypress)="addNoteWork($event)" type="text" required name="note" [(ngModel)]="newNoteWork"></ion-input>
    </ion-item>
  </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let note of noteWork;index as i">
      <ion-item>
        {{note.name}}
      </ion-item>
      <ion-button color="danger" (click)="removeNoteWork(i)">
        <ion-icon name="trash"></ion-icon>Delete
      </ion-button>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Meeting</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label>New Note</ion-label>
      <ion-input #myInput placeholder="Enter note" (keypress)="addNoteMeeting($event)" type="text" required name="note" [(ngModel)]="newNoteMeeting"></ion-input>
    </ion-item>
  </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let note of noteMeeting;index as i">
      <ion-item>
        {{note.name}}
      </ion-item>
      <ion-button color="danger" (click)="removeNoteMeeting(i)">
        <ion-icon name="trash"></ion-icon>Delete
      </ion-button>
  </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Brain dump</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label>New Note</ion-label>
      <ion-input #myInput placeholder="Enter note" (keypress)="addNoteBrain($event)" type="text" required name="note" [(ngModel)]="newNoteBrain"></ion-input>
    </ion-item>
  </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let note of noteBrain;index as i">
      <ion-item slot="end">
        {{note.name}}
      </ion-item>
      <ion-button slot="end" color="danger" (click)="removeNoteBrain(i)">
        <ion-icon name="trash"></ion-icon>Delete
      </ion-button>
  </ion-item-sliding>
  </ion-list>
</ion-content>
