ion-toolbar{
    --background: linear-gradient(90deg, rgba(238,174,202,0.5947421204810048) 0%, rgba(206,179,213,0.7572071064754027) 36%, rgba(148,187,233,0.9532855378479517) 100%);
  }

  ion-button{
    --background: linear-gradient(90deg, rgba(238,174,202,0.5947421204810048) 0%, rgba(206,179,213,0.7572071064754027) 36%, rgba(148,187,233,0.9532855378479517) 100%);
  }
